/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    background-color: #0077b5;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    background-color: #005f8b;
  }
  .logo{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .logo img{
    max-height: 2rem;
  }
  .logo svg{
    max-height: 2rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 480px) {
    .container {
      padding: 1rem;
    }
  
    h1 {
      font-size: 1.25rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .link {
      padding: 0.5rem 1rem;
    }
  }
